<section class="default-page">
  <div class="container">
    <div class="tz-register">
      <h2>Se connecter</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-row form-row-wide">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-row form-row-wide">
          <%= f.label :password, "Mot de passe" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="justify-content-end align-items-center">
            <%= f.check_box :remember_me, class: "checkbox-form" %>
            <%= f.label :remember_me, "Se souvenir de moi", class: "checkbox-form" %>
          </div>
        <% end %>
        <p class="form-footer">
          <%= link_to "Mot de passe oublié ?", new_user_password_path %>
          <a href="shop-register.html" class="pull-right">Pas encore inscrit ?</a>
        </p>
        <%= f.submit "Se connecter", class: "button_class btn-block" %>
      <% end %>
    </div>
  </div>
</section>
