<section class="default-page">
  <div class="container">
    <div class="tz-register">
      <h2>Mot de passe oublié ?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="form-row form-row-wide">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <p class="form-footer">
          <%= link_to "Pas encore inscrit ?", new_user_registration_path %>
        </p>
        <br/>
        <div class="form-row form-row-wide">
          <%= f.submit "Envoyez moi les instructions", class: "button_class btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
