<%= form_tag cart_charges_path(@cart.id) do %>
  <%= current_user.firstname%>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%=@cart.total%></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Total de votre panier à payer :"
          data-amount=<%=(@cart.total * 100).to_i%>
          data-locale="auto"></script>
<% end %>
