<ul class="tz-ecommerce-meta pull-right">
  <li class="tz-header-login">
    <a href="/users/sign_in">S'inscrire/Se Connecter</a>
    <div class="tz-login-form">
      <form>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <p class="form-content">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </p>
          <p class="form-content">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </p>
          <p class="form-footer">
            <a href="/users/password/new" style="margin-right: 10px;">Mot de passe perdu?</a>
            <%= f.submit "Se connecter", class: "pull-right button_class" %>
          </p>
        <% end %>
        <p class="form-text">
          <%= link_to "Créer un compte? Cliquez ici", new_registration_path(resource_name) %>
        </p>
      </form>
    </div>
  </li>
