<section class="default-page">
  <div class="container">
    <div class="tz-register">
      <h2>S'inscrire</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="form-row form-row-wide">
          <%= f.label :prenom %>
          <%= f.text_field :firstname, autofocus: true, required: true %>
        </div>
        <div class="form-row form-row-wide">
          <%= f.label :nom %>
          <%= f.text_field :lastname, autofocus: true, required: true %>
        </div>
        <div class="form-row form-row-wide">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",required: true %>
        </div>
        <div class="form-row form-row-wide">
          <%= f.label :age %>
          <%= f.number_field :age, autofocus: true, required: true , min:1%>
        </div>
        <div class="form-row form-row-wide">
          <%= f.label :mot_de_passe %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères minimum.)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="form-row form-row-wide">
          <%= f.label :confirmation_de_mot_de_passe %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <p class="form-footer">
          <%= link_to "Déjà un compte ?", new_user_session_path %>
        </p>
        <div class="actions">
          <%= f.submit "Sign up", class: "button_class btn-block"  %>
        </div>
      <% end %>
    </div>
  </div>
</section>
